In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
'''
• to create a dataframe from a dictionary and display it.
Name :- Vishakha U. Chudasama
Enrollment No :- 216270307070
'''

data = {
    'A': [1, 4, 3, 2],
    'B': ['apple', 'banana', 'cherry', 'date'],
    'C': [10.5, 7.2, 5.0, 8.3]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the original DataFrame
print("DataFrame:")
print(df)

In [ ]:
'''
• to sort the DataFrame first by 'name' in ascending order.
Name :- Vishakha U. Chudasama
Enrollment No :- 216270307070
'''

data = {
    'rollno': [1, 4, 3, 2],
    'name': ['joy', 'Niyon', 'monica', 'rachel']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Sort the DataFrame based on column 'A' (ascending order)
df_sorted = df.sort_values(by='name')

# Display the sorted DataFrame
print("\nSorted DataFrame:")
print(df_sorted)

In [ ]:
'''
• to delete the one specific column from the DataFrame.
Name :- Vishakha U. Chudasama
Enrollment No :- 216270307070
'''

data = {
    'acno': [101, 102, 103],
    'balance': [1000, 2000, 3000],
    'acname': ['John', 'Alice', 'Monica']
}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Delete the 'acname' column
df = df.drop(columns=['acname'])

# Display the DataFrame after deleting the 'acname' column
print("\nDataFrame after deleting 'acname' column:")
print(df)

In [ ]:
'''
• to write a DataFrame to CSV file using tab separator .
Name :- Vishakha U. Chudasama
Enrollment No :- 216270307070
'''

# Sample DataFrame
Mydata = {
    'Name': ['Joy', 'Charlie', 'Mony'],
    'Age': [15, 20, 21],
    'City': ['United State', 'London', 'New York']
}

df = pd.DataFrame(Mydata)

file = 'data_with_tab_separator.csv'

# Write DataFrame to CSV with tab separator
df.to_csv(file, sep='\t', index=False)

print("Successfully added the data = \n", df)